resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/writer
    newTag: v0.9.0

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "prod"
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "queue-prod"
    target:
      kind: Rollout
      name: writer
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "writer.fullstack.pw"
    target:
      kind: VirtualService
      name: writer
  - patch: |-
      - op: remove
        path: /spec/strategy/blueGreen/prePromotionAnalysis
    target:
      kind: Rollout
      name: writer
