resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "dev"
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "queue-dev"
    target:
      kind: Deployment
      name: memorizer
  - patch: |-
      - op: replace
        path: /spec/strategy
        value:
          type: RollingUpdate
          rollingUpdate:
            maxSurge: 100%
            maxUnavailable: 50%
    target:
      kind: Deployment
      name: memorizer
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "dev.memorizer.fullstack.pw"
    target:
      kind: VirtualService
      name: ascii-frontend
