resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/memorizer
    newTag: 0358cb8ddc3f0fcfbd7143ad30cb7069110790f5

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "dev"
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "queue-dev"
    target:
      kind: Rollout
      name: memorizer
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "dev.memorizer.fullstack.pw"
    target:
      kind: VirtualService
      name: memorizer
