apiVersion: apps/v1
kind: Deployment
metadata:
  name: writer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: writer
  template:
    metadata:
      labels:
        app: writer
    spec:
      containers:
        - name: writer
          image: registry.fullstack.pw/library/writer:latest
          ports:
            - containerPort: 8080
          env:
            - name: ENV
              value: "dev"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: opentelemetry-collector.observability.svc.cluster.local:4317
            - name: QUEUE_NAMES
              value: "test-queue"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cluster-secrets
                  key: REDIS_PASSWORD
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-app
                  key: password
            - name: DB_HOST
              value: "postgres-rw.default.svc.cluster.local"
            - name: DB_NAME
              value: "app"
            - name: DB_SSLMODE
              value: "require"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
