resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "dev.enqueuer.fullstack.pw"
    target:
      kind: VirtualService
      name: enqueuer
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "dev"
    target:
      kind: Rollout
      name: enqueuer
