resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/enqueuer
    newTag: 0644261e2fdf8d108539d97b2fe26bbc60f7a202

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "dev.enqueuer.fullstack.pw"
    target:
      kind: VirtualService
      name: enqueuer
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "dev"
    target:
      kind: Rollout
      name: enqueuer
