resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "stg.enqueuer.fullstack.pw"
    target:
      kind: VirtualService
      name: ascii-frontend
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "stg"
    target:
      kind: Deployment
      name: enqueuer
