apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/ascii-frontend
    newTag: fde0a85d8738cb0fc383b22f2faa03bef47565d1

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "ascii.fullstack.pw"
    target:
      kind: VirtualService
      name: ascii-frontend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Rollout
      name: ascii-frontend
  - patch: |-
      - op: remove
        path: /spec/strategy/blueGreen/prePromotionAnalysis
    target:
      kind: Rollout
      name: ascii-frontend
