apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "ascii.fullstack.pw"
    target:
      kind: VirtualService
      name: ascii-frontend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Rollout
      name: ascii-frontend
