apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/ascii-frontend
    newTag: v1.0.0

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "dev.ascii.fullstack.pw"
    target:
      kind: VirtualService
      name: ascii-frontend
