apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/ascii-frontend
    newTag: 9e52e956586c4f25ca83a56e5c90ff250ef4e52f

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "dev.ascii.fullstack.pw"
    target:
      kind: VirtualService
      name: ascii-frontend
