resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "stg"
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "queue-stg"
    target:
      kind: Deployment
      name: memorizer
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "stg.memorizer.fullstack.pw"
    target:
      kind: VirtualService
      name: ascii-frontend
