resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "dev"
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "queue-dev"
    target:
      kind: Rollout
      name: writer
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "dev.writer.fullstack.pw"
    target:
      kind: VirtualService
      name: writer
